%h1 BotBarbello

Your fitness buddy! BotBarbello will make make your everyday workouts efficient and non-monotonous by giving you a new video every time for the targetted body part of your choice.

%br/

= erb :"slack_button"